<!DOCTYPE html>
@inject SignInManager<FunicularUser> SignInManager
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Funicular</title>
        <link rel="stylesheet" href="~/dist/styles.css" />
    </head>
    <body>
        <div id="navbar"></div>
        @RenderBody()
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            window.signedIn = '@Html.Raw(SignInManager.IsSignedIn(User))' === 'True';
            window.antiforgeryToken = '@Html.Raw(Antiforgery.GetAndStoreTokens(Context).RequestToken)';
        </script>
        <script src="~/dist/shared/layout.js"></script>
    </body>
</html>
